# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Build

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
    paths-ignore:
    - '**/*.adoc'
    - '**/*.md'
    - '.github/*.yml'
  pull_request:
  workflow_dispatch:
    # https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        #- macos-latest # too many random fails
        - windows-latest
        haxe:
        - 4.2.5

    steps:
    - name: Show environment variables
      shell: bash
      run: env | sort

    - name: Git Checkout
      uses: actions/checkout@v3 #https://github.com/actions/checkout

    - name: "Cache: Haxelib Repository"
      uses: actions/cache@v3
      with:
        path: ${{ runner.tool_cache }}/haxe/${{ matrix.haxe }}/x64/lib
        # https://github.com/actions/cache/issues/342#issuecomment-673371329
        key: ${{ runner.os }}-haxelib-${{ matrix.haxe }}-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-haxelib-${{ matrix.haxe }}-

    - name: Upgrade brew
      if: runner.os == 'macOS'
      env:
        # https://docs.brew.sh/Manpage#environment
        HOMEBREW_NO_ANALYTICS: 1
        HOMEBREW_NO_INSTALL_CLEANUP: 1
      run: |
        echo "::group::brew update" && brew update && echo "::endgroup::"
        echo "::group::brew config" && brew config && echo "::endgroup::"

        # workaround to prevent "/usr/local/... is not inside a keg" during "brew install mono"
        rm /usr/local/bin/2to3
        rm /usr/local/share/man/man1/*
        rm /usr/local/share/man/man5/*

    - name: "Install: Python 3"
      uses: actions/setup-python@v4 # https://github.com/actions/setup-python
      with:
        python-version: "3.10"

    - name: Configure Python 3 on Windows
      if: runner.os == 'Windows'
      shell: cmd
      # workaround for https://github.com/actions/setup-python/issues/123
      run:
        if not exist "%pythonLocation%\python.exe" (
          mklink "%pythonLocation%\python3.exe" "%pythonLocation%\python.exe"
        )

    - name: "Install: Haxe ${{ matrix.haxe }}"
      uses: krdlab/setup-haxe@v1 # https://github.com/krdlab/setup-haxe
      with:
        haxe-version: ${{ matrix.haxe }}

    - name: "Install: Haxe Libraries"
      shell: bash
      run: |
        haxelib config

        for lib in haxe-doctest travix; do
          echo "::group::install_$lib"
          haxelib --always install $lib
          haxelib --always update $lib || true
          echo "::endgroup::"
        done

        haxelib dev haxe-concurrent .


    ##################################################
    # Tests
    ##################################################

    - name: Test [cs]
      run: haxelib run travix cs

    - name: Test [eval]
      timeout-minutes: 1
      continue-on-error: true # randomly hangs even on > 4.1 probably because if https://github.com/HaxeFoundation/haxe/issues/8525
      run: haxelib run travix interp -D eval-stack

    - name: Test [flash]
      continue-on-error: true # fails with "Flash execution failed too many times, build failure." but test is actually ok
      run: haxelib run travix flash

    - name: Test [hl]
      if: runner.os != 'Linux' # prebuild linux binary available yet
      run: haxelib run travix hl

    - name: Test [java]
      run: |
        java -version
        haxelib run travix java

    - name: Test [jvm]
      run: haxelib run travix java -D jvm

    - name: Test [lua]
      continue-on-error: ${{ runner.os != 'Linux' }}
      run: haxelib run travix lua

    - name: Test [neko]
      run: haxelib run travix neko

    - name: Test [node]
      run: |
        node --version
        haxelib run travix node

    - name: Test [php]
      run: haxelib run travix php

    - name: Test [python]
      run: |
        python --version
        haxelib run travix python

    - name: Test [cpp] # testing C++ as last since it takes the longest to build
      run: haxelib run travix cpp


  ###########################################################
  cleanup:
  ###########################################################
    runs-on: ubuntu-latest
    needs: 
      - build

    steps:
    - name: "Delete intermediate build artifacts"
      uses: geekyeggo/delete-artifact@v2 # https://github.com/GeekyEggo/delete-artifact/
      with:
        name: "*"
        failOnError: false
