# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: Build

on:
  push:
    branches:
    - '**'
    tags-ignore:
    - '**'
    paths-ignore:
    - '**/*.adoc'
    - '**/*.md'
    - '.github/*.yml'
  pull_request:
  workflow_dispatch:
    # https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

defaults:
  run:
    shell: bash

env:
  # https://docs.brew.sh/Manpage#environment
  HOMEBREW_NO_ANALYTICS: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        #- macos-latest # too many random fails
        - windows-latest
        haxe:
        - 4.2.5

    steps:
    - name: "ACT: Install ping"
      if: runner.os == 'Linux' && env.ACT # https://github.com/nektos/act#skipping-steps
      run: |
        if ! hash ping 2>/dev/null; then
          apt-get update
          apt-get -y install iputils-ping
        fi

    - name: Show environment variables
      run: env | sort

    - name: Git Checkout
      uses: actions/checkout@v3 #https://github.com/actions/checkout

    - name: "Cache: Restore"
      id: cache-restore
      if: ${{ !env.ACT }} # https://github.com/nektos/act#skipping-steps
      uses: actions/cache/restore@v3
      with:
        path: |
          ${{ runner.tool_cache }}/haxe/lib
          /opt/hashlink
        key: ${{ runner.os }}-${{ matrix.haxe }}

    - name: "MacOS: Update brew formulas"
      if: runner.os == 'macOS'
      run: |
        set -eu

        echo "::group::brew update" && brew update && echo "::endgroup::"
        echo "::group::brew config" && brew config && echo "::endgroup::"
        echo "::group::brew list" && brew list --version && echo "::endgroup::"

        # workaround to prevent "Error: The `brew link` step did not complete successfully" during "brew install mono"
        # and setup-python action, see https://github.com/actions/setup-python/issues/577
        rm -f \
          /usr/local/share/man/man1/* \
          /usr/local/share/man/man5/* \
          /usr/local/bin/idle3 \
          /usr/local/bin/2to3 \
          /usr/local/bin/idle3 \
          /usr/local/bin/pydoc3 \
          /usr/local/bin/python3 \
          /usr/local/bin/python3-config

    - name: "Install: Hashlink"
      if: runner.os == 'Linux'
      run: |
        set -euxo pipefail
        if ! hash hl 2>/dev/null; then
          if [ ! -e /opt/hashlink ]; then
            if [[ -n "${{ github.token }}" ]]; then
              authHeader='-H "Authorization: token ${{ github.token }}"'
            fi
            latest_url=$(eval curl -fsSL ${authHeader:-} https://api.github.com/repos/HaxeFoundation/hashlink/releases | grep -o "https://.*/download/latest/hashlink-.*-linux-amd64.tar.gz")
            curl -sSfL $latest_url | sudo tar -xz -C /opt/
            mv /opt/hashlink-* /opt/hashlink
          fi
          echo "/opt/hashlink" >> $GITHUB_PATH
        fi

    - name: "Install: Java 11"
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11

    - name: "Install: Python 3"
      uses: actions/setup-python@v4 # https://github.com/actions/setup-python
      with:
        python-version: "3.10"

    - name: Configure Python 3 on Windows
      if: runner.os == 'Windows'
      shell: cmd
      # workaround for https://github.com/actions/setup-python/issues/123
      run:
        if not exist "%pythonLocation%\python.exe" (
          mklink "%pythonLocation%\python3.exe" "%pythonLocation%\python.exe"
        )

    - name: "Install: Haxe ${{ matrix.haxe }}"
      uses: krdlab/setup-haxe@v1 # https://github.com/krdlab/setup-haxe
      with:
        haxe-version: ${{ matrix.haxe }}

    - name: "Install: Haxe Libraries"
      run: |
        set -eux

        case "${{runner.os}}" in
          Windows)
            export HAXELIB_PATH="${{ runner.tool_cache }}\\haxe\\lib"
            HAXELIB_PATH_UNIX=$(cygpath "$HAXELIB_PATH")
            ;;
          *)
            export HAXELIB_PATH="${{ runner.tool_cache }}/haxe/lib"
            HAXELIB_PATH_UNIX=$HAXELIB_PATH
            ;;
        esac
        mkdir -p "$HAXELIB_PATH_UNIX"
        echo "HAXELIB_PATH=$HAXELIB_PATH" >> $GITHUB_ENV

        haxelib config

        for lib in haxe-doctest hx3compat; do
          echo "::group::install_$lib"
          haxelib --always install $lib
          haxelib --always update $lib || true
          echo "::endgroup::"
        done

        # install latest travix version
        haxelib git travix https://github.com/back2dos/travix
        pushd .
        cd $HAXELIB_PATH_UNIX/travix/git
        haxe build-neko.hxml -lib hx3compat
        popd

        haxelib dev haxe-concurrent .


    ##################################################
    # Tests
    ##################################################

    - name: Test [eval]
      run: haxelib run travix interp -D eval-stack

    - name: Test [flash]
      continue-on-error: true # fails with "Flash execution failed too many times, build failure." but test is actually ok
      run: haxelib run travix flash

    - name: Test [hl]
      continue-on-error: ${{ runner.os == 'Linux' }} # Segmentation fault
      run: haxelib run travix hl

    - name: Test [java]
      run: |
        java -version
        haxelib run travix java

    - name: Test [jvm]
      run: haxelib run travix java -D jvm

    - name: Test [lua]
      continue-on-error: ${{ runner.os != 'Linux' }}
      run: haxelib run travix lua

    - name: Test [neko]
      run: haxelib run travix neko

    - name: Test [node]
      run: |
        node --version
        haxelib run travix node

    - name: Test [php]
      run: haxelib run travix php

    - name: Test [python]
      run: |
        python --version
        haxelib run travix python

    - name: Test [cs]
      run: haxelib run travix cs

    - name: Test [cpp]
      run: haxelib run travix cpp


    ##################################################
    # Cache Update
    # See https://github.com/actions/cache/issues/342
    ##################################################
    - name: "Cache: Delete Previous"
      if: ${{ steps.cache-restore.outputs.cache-hit && !env.ACT }}
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh extension install actions/gh-actions-cache
        gh actions-cache delete ${{ runner.os }}-${{ matrix.haxe }} --confirm

    - name: "Cache: Update"
      uses: actions/cache/save@v3
      if: ${{ always() && !env.ACT }} # save cache even fails
      with:
        path: |
          ${{ runner.tool_cache }}/haxe/lib
          /opt/hashlink
        key: ${{ runner.os }}-${{ matrix.haxe }}


  ###########################################################
  cleanup:
  ###########################################################
    runs-on: ubuntu-latest
    needs: 
      - build

    steps:
    - name: "Delete intermediate build artifacts"
      if: ${{ !env.ACT }} # https://github.com/nektos/act#skipping-steps
      uses: geekyeggo/delete-artifact@v2 # https://github.com/GeekyEggo/delete-artifact/
      with:
        name: "*"
        failOnError: false
